# Mount PBL data folder

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd         
import os

In [ ]:
sa_01_header = ['No','SubjectID', 'Housing complex', 'Gender', 'Birthday', 'Age', 
                'certification of care need', 'Number of residents', 'Height', 
                'Body weight', 'Stride（cm)', 'Medical history', 'Disease name',
                'Regular hospital consultation', 'Antihypertensive', 
                'Antidepressant', 'Osteoporosis drug', 'Antidiabetic drug',
                'Other1', 'Smoking', 'Drinking', 
                'Family composition of living together', 
                'Care need certification time', 'Hobby・preference・habit', 
                'Activities', 'Community', 'Everyday', 
                'Everyday With or without blood pressure measurement', 
                'Whether or not to use a pedometer on a daily basis', 
                'Other2', 'right Measured value', 'right Evaluation', 
                'right Presence or absence of abnormality', 'left easured value',
                'left Evaluation', 'left Presence or absence of abnormality',
                'Locomotive Measured value', 
                'Locomotive Presence or absence of abnormality']
sa_01 = pd.read_csv('/content/gdrive/MyDrive/data/01_Subject_attributes.csv', header=None)
sa_01.columns = sa_01_header
sa_01 = sa_01[sa_01['SubjectID'].notna()].reset_index(drop=True)
sa_01.head()

   No  ... Locomotive Presence or absence of abnormality
0   1  ...                                           NaN
1   2  ...                                           NaN
2   3  ...                                      Abnormal
3   4  ...                                      Abnormal
4   5  ...                                           NaN

[5 rows x 38 columns]

In [ ]:
li_02_header = ['No','SubjectID', 'Date confirmed', 'Appetite Questionnaire results',
                'Eating habit Questionnaire results', 'Preference Questionnaire results', 
                'Sleep Questionnaire results','Anxiety about health Questionnaire results', 
                'Anxiety about forgetfulness Questionnaire results', 
                'I can go up and down stairs without being transmitted to the railing or wall', 
                'I can get up from the chair', 'I can walk for more than 15 minutes', 
                'I can walk without a cane', 'I am actively going out', 
                'Walking function Score', 'Walking function Evaluation', 
                'Do the cleaning and washing yourself', 'Shop for daily necessities yourself',
                'I can prepare your own meals', 
                'I can write the documents to be submitted to the government office by myself', 
                '自分で電話帳を調べ、電話をかけることができる', '生活機能 Score', 
                '生活機能 Evaluation', 'I have a counselor in case of trouble',         
                "I have a counselor when I'm sick", 
                "I have someone who will take me to the hospital when I'm sick", 
                'There are people who take care of me when I fall asleep', 
                'Relying on someone', 'ソーシャルサポート Score',  
                'ソーシャルサポート Evaluation', 
                'No weight loss of more than 2-3 kg in the last 6 months', 
                'No weight gain of more than 2-3 kg in the last 2 months', 
                'I can eat hard food',"When I drink tea or soup, I don't get sick", 
                "I don't mind thirst",
                '口腔・栄養 Score', 
                '口腔・栄養 Evaluation']
li_02 = pd.read_csv('/content/gdrive/MyDrive/data/02_Life_independence.csv', header=None)
li_02.columns = li_02_header
li_02 = li_02[li_02['SubjectID'].notna()].reset_index(drop=True)
li_02.head()

    No          SubjectID  ... 口腔・栄養 Score 口腔・栄養 Evaluation
0  1.0  cefoxSR1707004101  ...         5.0       no problem
1  2.0  cefoxSR1707003701  ...         5.0       no problem
2  3.0  cefoxSR1707005101  ...         5.0       no problem
3  4.0  cefoxSR1707003501  ...         5.0       no problem
4  5.0  cefoxSR1601000701  ...         5.0       no problem

[5 rows x 37 columns]

In [ ]:
ir_04_header = ['No', 'SubjectID', 'Presence or absence of inspection record', 
                'Inspection date', 'Total cholesterol', 'LDL cholesterol', 
                'HDL cholesterol', 'Urea nitrogen', 'Creatinine',
                'Uric acid', 'Urine protein', 'Blood sugar', 'Diabetes diagnosis age',
                'HbA1c', 'AST', 'ALT', 'LDH', 'Retinopathy', 
                'Hypertension diagnosis age sodium', 'Na', 'K', 'ECG abnormalities',
                'Triglyceride', 'Diagnosis age of dyslipidemia', 
                'History of coronary artery disease', 'Chronic kidney disease diagnosis age',
                'Total protein', 'Albumin', 'Hematuria']
ir_04 = pd.read_csv('/content/gdrive/MyDrive/data/04_Inspection results.csv', header=None)
ir_04.columns = ir_04_header
ir_04 = ir_04[ir_04['SubjectID'].notna()].reset_index(drop=True)
ir_04.head()

   No          SubjectID  ... Albumin Hematuria
0   1  cefoxSR1707004101  ...     NaN       NaN
1   2  cefoxSR1707003701  ...    5.0          ­
2   3  cefoxSR1707005101  ...       ­         ­
3   4  cefoxSR1707003501  ...    4.2          ­
4   5  cefoxSR1601000701  ...       ­         ­

[5 rows x 29 columns]

In [ ]:
ev_05_header = ['No','SubjectID', 'Evaluation contents', 'Health status', 'Biological function', 
                'Exercise function', 'Nutrition', 'Cognitive function', 'Fall', 
                'High blood pressure', 'Arrhythmia', 'Osteoporosis', 
                'Diabetes mellitus', 'Exercise guidance', 'Nutrition guidance',
                'Life guidance']
ev_05 = pd.read_csv('/content/gdrive/MyDrive/data/05_evaluation.csv', header=None)
ev_05.columns = ev_05_header
ev_05 = ev_05[ev_05['SubjectID'].notna()].reset_index(drop=True)
ev_05.head()

   No  ...                                      Life guidance
0   1  ...  Guidance to enhance visuospatial cognitive fun...
1   2  ...                                            Nothing
2   3  ...  Guidance to enhance visuospatial cognitive fun...
3   4  ...             Guidance to increase physical activity
4   5  ...                                            Nothing

[5 rows x 16 columns]

# Transform sensing data into csv

In [ ]:
f = []
for (dirpath, dirnames, filenames) in os.walk('/content/gdrive/MyDrive/data/71_sensing_data'):
  n = []
  for i in filenames:
    if i[-3:] != 'csv':
      continue
    n.append(os.path.join(dirpath , i))
  f.extend(n)

def find_nth(haystack, needle, n):
    start = haystack.find(needle)
    while start >= 0 and n > 1:
        start = haystack.find(needle, start+len(needle))
        n -= 1
    return start
s = set()
for i in f:
  c = i[63:]
  a = find_nth(c, '_', 1)
  b = find_nth(c, '_', 2)
  s.add(c[a+1:b])

for d in s:
  exec(d + " = pd.DataFrame()")

for file in f:
  c = file[63:]
  a = find_nth(c, '_', 1)
  b = find_nth(c[a+1:], '_', 1)
  
  if c[a+1:a+b+1] == 'activ':
    tem = pd.read_csv(file)
    tem['SubjectID'] = c[:a]
    activ = activ.append(tem, ignore_index=True)
  if c[a+1:a+b+1] == 'exist':
    tem = pd.read_csv(file)
    tem['SubjectID'] = c[:a]
    exist = exist.append(tem, ignore_index=True)
  if c[a+1:a+b+1] == 'sphy':
    tem = pd.read_csv(file)
    tem['SubjectID'] = c[:a]
    sphy = sphy.append(tem, ignore_index=True)
  if c[a+1:a+b+1] == 'temp':
    tem = pd.read_csv(file)
    tem['SubjectID'] = c[:a]
    temp = temp.append(tem, ignore_index=True)
  if c[a+1:a+b+1] == 'weight':
    tem = pd.read_csv(file)
    tem['SubjectID'] = c[:a]
    weight = weight.append(tem, ignore_index=True)
    
activ['SubjectID'] = activ['SubjectID'] + '01'
exist['SubjectID'] = exist['SubjectID'] + '01'
sphy['SubjectID'] = sphy['SubjectID'] + '01'
temp['SubjectID'] = temp['SubjectID'] + '01'
weight['SubjectID'] = weight['SubjectID'] + '01'    
activ.to_csv('activ.csv', index = False)
exist.to_csv('exist.csv', index = False)
sphy.to_csv('sphy.csv', index = False)
temp.to_csv('temp.csv', index = False)
weight.to_csv('weight.csv', index = False)

{'activ', 'exist', 'sphy', 'temp', 'weight'}

In [ ]:
activ = pd.read_csv('/content/gdrive/MyDrive/activ.csv')
exist = pd.read_csv('/content/gdrive/MyDrive/exist.csv')
sphy = pd.read_csv('/content/gdrive/MyDrive/sphy.csv')
temp = pd.read_csv('/content/gdrive/MyDrive/temp.csv')
weight = pd.read_csv('/content/gdrive/MyDrive/weight.csv')

In [ ]:
be_li_02 = li_02[['SubjectID', 'Appetite Questionnaire results', 'Preference Questionnaire results', 'Sleep Questionnaire results', 'Anxiety about health Questionnaire results', 
                  'I can go up and down stairs without being transmitted to the railing or wall','I can walk for more than 15 minutes', 'I am actively going out',
                  'Do the cleaning and washing yourself', 'Shop for daily necessities yourself', 'No weight loss of more than 2-3 kg in the last 6 months', 
                  'No weight gain of more than 2-3 kg in the last 2 months']]
be_li_02.head()

           SubjectID  ... No weight gain of more than 2-3 kg in the last 2 months
0  cefoxSR1707004101  ...                                                yes
1  cefoxSR1707003701  ...                                                yes
2  cefoxSR1707005101  ...                                                yes
3  cefoxSR1707003501  ...                                                yes
4  cefoxSR1601000701  ...                                                yes

[5 rows x 12 columns]

In [ ]:
be_ev_05 = ev_05[['SubjectID', 'Exercise function', 'Nutrition']]
be_ev_05.head()

           SubjectID     Exercise function             Nutrition
0  cefoxSR1707004101                  good                  good
1  cefoxSR1707003701  Observation required  Observation required
2  cefoxSR1707005101  Observation required  Observation required
3  cefoxSR1707003501  Observation required                  good
4  cefoxSR1601000701                  good  Observation required

In [ ]:
 behavior = pd.merge(be_li_02, be_ev_05, on='SubjectID', how='outer')
 behavior.head()

           SubjectID  ...             Nutrition
0  cefoxSR1707004101  ...                  good
1  cefoxSR1707003701  ...  Observation required
2  cefoxSR1707005101  ...  Observation required
3  cefoxSR1707003501  ...                  good
4  cefoxSR1601000701  ...  Observation required

[5 rows x 14 columns]

In [ ]:
medicine_info = sa_01[['SubjectID', 'Antihypertensive', 'Antidepressant', 'Osteoporosis drug', 'Antidiabetic drug']]
medicine_info.head()

           SubjectID  ...                              Antidiabetic drug
0  cefoxSR1707004101  ...                                            NaN
1  cefoxSR1707003701  ...  Tenelia,Metoformin hydrochloride,Repaglinide,
2  cefoxSR1707005101  ...                                            NaN
3  cefoxSR1707003501  ...                                            NaN
4  cefoxSR1601000701  ...                                            NaN

[5 rows x 5 columns]

In [ ]:
ir_04.head()

   No          SubjectID  ... Albumin Hematuria
0   1  cefoxSR1707004101  ...     NaN       NaN
1   2  cefoxSR1707003701  ...    5.0          ­
2   3  cefoxSR1707005101  ...       ­         ­
3   4  cefoxSR1707003501  ...    4.2          ­
4   5  cefoxSR1601000701  ...       ­         ­

[5 rows x 29 columns]

In [ ]:
ihi_ir_04 = ir_04[['SubjectID', 'Inspection date', 'Total cholesterol', 'LDL cholesterol', 
                              'HDL cholesterol', 'HbA1c', 'AST', 'ALT', 'LDH', 
                              'Na', 'K', 'ECG abnormalities', 
                              'History of coronary artery disease', ]]

In [ ]:
ihi_weight = weight[['SubjectID', ' Measure Date Time', ' Body Fat Percentage', ' Basal Metabolism']]
ihi_weight.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           SubjectID  ...  Basal Metabolism
0  cefoxSR1601000701  ...         1367.8298
1  cefoxSR1601000701  ...         1381.9312
2  cefoxSR1601000701  ...         1382.8872
3  cefoxSR1601000701  ...         1388.8623
4  cefoxSR1601000701  ...         1362.8107

[5 rows x 4 columns]

In [ ]:
internal_health_info = pd.merge(ihi_weight, ihi_ir_04, on='SubjectID', how='left')
internal_health_info.head()

           SubjectID  ... History of coronary artery disease
0  cefoxSR1601000701  ...                                NaN
1  cefoxSR1601000701  ...                                NaN
2  cefoxSR1601000701  ...                                NaN
3  cefoxSR1601000701  ...                                NaN
4  cefoxSR1601000701  ...                                NaN

[5 rows x 16 columns]

In [ ]:
bi_sphy= sphy[['SubjectID', ' Measure Date Time', ' Systolic Pressure', ' Diastolic Pressure', 
                   ' Mean Arterial Pressure',' Pulse Rate', 
                   ' Irregular Pulse Flag',' Pulse Rate Range Detection Flag']]
bi_sphy.head()

           SubjectID  ...  Pulse Rate Range Detection Flag
0  cefoxSR1601000701  ...                                0
1  cefoxSR1601000701  ...                                0
2  cefoxSR1601000701  ...                                0
3  cefoxSR1601000701  ...                                0
4  cefoxSR1601000701  ...                                0

[5 rows x 8 columns]

In [ ]:
bi_ir_04 = ir_04[['SubjectID', 'Blood sugar']]
bi_ir_04.head()

           SubjectID  Blood sugar
0  cefoxSR1707004101          NaN
1  cefoxSR1707003701        108.0
2  cefoxSR1707005101          NaN
3  cefoxSR1707003501          NaN
4  cefoxSR1601000701         88.0

In [ ]:
blood_info = pd.merge(bi_sphy, bi_ir_04, on='SubjectID', how='left')
blood_info.head()

           SubjectID  ... Blood sugar
0  cefoxSR1601000701  ...        88.0
1  cefoxSR1601000701  ...        88.0
2  cefoxSR1601000701  ...        88.0
3  cefoxSR1601000701  ...        88.0
4  cefoxSR1601000701  ...        88.0

[5 rows x 9 columns]

In [ ]:
disease_info = ev_05[['SubjectID', 'Arrhythmia', 'Diabetes mellitus']]
disease_info.head()

           SubjectID Arrhythmia Diabetes mellitus
0  cefoxSR1707004101    Nothing           Nothing
1  cefoxSR1707003701    Nothing               Yes
2  cefoxSR1707005101    Nothing           Nothing
3  cefoxSR1707003501    Nothing           Nothing
4  cefoxSR1601000701    Nothing           Nothing

In [ ]:
time_info = activ[[' Measure Date Time']]
time_info = time_info.append([exist[[' Measure Date Time']], sphy[[' Measure Date Time']]])
time_info = time_info.drop_duplicates(subset=[' Measure Date Time']).reset_index(drop=True)
time_info

           Measure Date Time
0        2021-02-08T02:00:36
1        2021-02-08T02:01:36
2        2021-02-08T02:02:36
3        2021-02-08T02:03:36
4        2021-02-08T02:04:36
...                      ...
392420   2021-02-08T07:51:14
392421   2021-02-10T07:47:08
392422   2021-02-11T15:33:58
392423   2021-01-28T13:51:20
392424   2021-01-21T15:34:54

[392425 rows x 1 columns]

In [ ]:
time_info['year'] = pd.to_datetime(time_info[' Measure Date Time']).dt.year
time_info['month'] = pd.to_datetime(time_info[' Measure Date Time']).dt.month
time_info['day'] = pd.to_datetime(time_info[' Measure Date Time']).dt.day
time_info['week'] = pd.to_datetime(time_info[' Measure Date Time']).dt.week
time_info['weekday'] = pd.to_datetime(time_info[' Measure Date Time']).dt.weekday
time_info['hour'] = pd.to_datetime(time_info[' Measure Date Time']).dt.hour
time_info['minute'] = pd.to_datetime(time_info[' Measure Date Time']).dt.minute
time_info['second'] = pd.to_datetime(time_info[' Measure Date Time']).dt.second
time_info

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  after removing the cwd from sys.path.

           Measure Date Time  year  month  day  ...  weekday  hour  minute  second
0        2021-02-08T02:00:36  2021      2    8  ...        0     2       0      36
1        2021-02-08T02:01:36  2021      2    8  ...        0     2       1      36
2        2021-02-08T02:02:36  2021      2    8  ...        0     2       2      36
3        2021-02-08T02:03:36  2021      2    8  ...        0     2       3      36
4        2021-02-08T02:04:36  2021      2    8  ...        0     2       4      36
...                      ...   ...    ...  ...  ...      ...   ...     ...     ...
392420   2021-02-08T07:51:14  2021      2    8  ...        0     7      51      14
392421   2021-02-10T07:47:08  2021      2   10  ...        2     7      47       8
392422   2021-02-11T15:33:58  2021      2   11  ...        3    15      33      58
392423   2021-01-28T13:51:20  2021      1   28  ...        3    13      51      20
392424   2021-01-21T15:34:54  2021      1   21  ...        3    15      34      54

[392425 rows x 9 columns]

In [ ]:
pe_sa_01 = sa_01[['SubjectID', 'Age', 'Gender', 'Height', 'Body weight', 'Smoking', 'Drinking', ]]
pe_sa_01.head()

           SubjectID   Age  Gender  Height  Body weight Smoking Drinking
0  cefoxSR1707004101  74.0  Female   145.0         39.0      no       no
1  cefoxSR1707003701  73.0  Female   155.0         50.0      no       no
2  cefoxSR1707005101  76.0  Female   154.0         56.5      no       no
3  cefoxSR1707003501  81.0     Man   158.0         65.0      no      yes
4  cefoxSR1601000701  77.0  Female   156.0         60.0      no      yes

In [ ]:
pe_weight = weight[['SubjectID', ' Measure Date Time', ' BMI', ' Body Age']]
pe_weight.head()

           SubjectID     Measure Date Time   BMI   Body Age
0  cefoxSR1601000701   2021-01-29T07:56:07  28.6         80
1  cefoxSR1601000701   2021-01-21T13:24:44  28.8         80
2  cefoxSR1601000701   2021-01-21T20:58:12  28.4         80
3  cefoxSR1601000701   2021-02-10T08:03:22  29.0         80
4  cefoxSR1601000701   2021-01-30T08:07:33  28.4         80

In [ ]:
person = pd.merge(pe_weight, pe_sa_01, on='SubjectID', how='left')
person.head()

           SubjectID     Measure Date Time   BMI  ...  Body weight  Smoking Drinking
0  cefoxSR1601000701   2021-01-29T07:56:07  28.6  ...         60.0       no      yes
1  cefoxSR1601000701   2021-01-21T13:24:44  28.8  ...         60.0       no      yes
2  cefoxSR1601000701   2021-01-21T20:58:12  28.4  ...         60.0       no      yes
3  cefoxSR1601000701   2021-02-10T08:03:22  29.0  ...         60.0       no      yes
4  cefoxSR1601000701   2021-01-30T08:07:33  28.4  ...         60.0       no      yes

[5 rows x 10 columns]

In [ ]:
sl_activ = activ[['SubjectID', ' Measure Date Time', ' Sleep Hour', ' Sleep Minute']]
sl_activ.head()

           SubjectID     Measure Date Time   Sleep Hour   Sleep Minute
0  cefoxSR1601000701   2021-02-08T02:00:36            0              0
1  cefoxSR1601000701   2021-02-08T02:01:36            0              0
2  cefoxSR1601000701   2021-02-08T02:02:36            0              0
3  cefoxSR1601000701   2021-02-08T02:03:36            0              0
4  cefoxSR1601000701   2021-02-08T02:04:36            0              0

In [ ]:
sl_li_02 = li_02[['SubjectID', 'Sleep Questionnaire results']].head()
sl_li_02.head()

           SubjectID Sleep Questionnaire results
0  cefoxSR1707004101                   Sleeping
1  cefoxSR1707003701                   Sleeping
2  cefoxSR1707005101                   Sleeping
3  cefoxSR1707003501                   Sleeping
4  cefoxSR1601000701                   Sleeping

In [ ]:
sleep_info = pd.merge(sl_activ, sl_li_02, on='SubjectID', how='left')
sleep_info.head()

           SubjectID  ... Sleep Questionnaire results
0  cefoxSR1601000701  ...                   Sleeping
1  cefoxSR1601000701  ...                   Sleeping
2  cefoxSR1601000701  ...                   Sleeping
3  cefoxSR1601000701  ...                   Sleeping
4  cefoxSR1601000701  ...                   Sleeping

[5 rows x 5 columns]

In [ ]:
behavior.to_csv('behavior.csv', index=False)
sleep_info.to_csv('sleep_info.csv', index=False)
medicine_info.to_csv('medicine_info.csv', index=False)
internal_health_info.to_csv('internal_health_info.csv', index=False)
blood_info.to_csv('blood_info.csv', index=False)
disease_info.to_csv('disease_info.csv', index=False)
time_info.to_csv('time_info.csv', index=False)
person.to_csv('person.csv', index=False)